//Media sizes for viewing article

@media(min-width:576px) and (max-width:960px) { ... }


body{
font-family:"Montserrat", sans-serif;
  width: 100%;
  background-color: "#D3D3D3";
}


.intro__hed h1 {
font-size 40px;
  position:relative;
  width:800px;
}


.responsive{
  min-width:768px;
  max-width:1350px;
}



