body{
padding: 5px 10px 5px 10px;  
font-family: 'Montserrat', sans-serif;
background-color: silver;
  position:relative;
}

h1{
  font-size:32px;   
  float:center;   
}

p{
  font-size:12px;
  font-family: 'Montserrat', sans-serif;
  float:center;
  margin-right:50px;
}

.header {
position:relative;
}

.responsive {
  width: 100%;
  height: auto;
}
